*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,regular,600,700);
*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
  font-family: Josefin Sans, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.mobile{
  display: flexbox;
  width: 375px;
  background: #FFF;
  align-items: center;
  min-height: 100%;
  overflow: hidden;
  flex: 1 1 auto;
}
.hero_saction{
  width: 375px;
  height: 1227px;
  background-image: url(img/Background_Image.png);
  padding-top: 208px;
  margin-bottom: 60px;
}
.header{
  width: 343px;
  height: 40px;
  background-color: #FFFFFF;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 40px;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  display: inline-flex;
  align-items: center;
  position: fixed;
  z-index: 999;
} 
.menu{
  background-color: #FFFFFF;
  margin-left: 9px;
  width: 18px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; 
  transform: rotate(0deg) scale(0deg);
  transition: all 0.5s linear 0s; 
}
.menu:hover{
  -webkit-transform: rotate(90deg);
  transform:rotate('90deg');
  transform-origin: 80% 50%;
}
.line_menu{
  margin-left: 9px;
  width: 18px;
  height: 2px;
  background-color: #232233;
}
.drop_menu{
  position: relative;
  display: flex; 
  justify-content: center;
  
}
.drop_menu:hover >.menu_content{
  display: initial;
}

.menu_content{
  width: 90px;
  height: 90px;
  background-color: #FFFFFF;
  border-radius: 3px;
  list-style-type: none;
  margin-left: 62px;
  margin-top: 25px;
  position: absolute;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  z-index: 1;
  display: none;
}
.menu_content a{
  color: #232233;
  text-decoration: none;
  display: block;
}
.logo{
  width: 100px;
  height: 60px;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  margin-left: 89px;
  transition: all 0.5s linear 0s;
  .logo4{
    display: flex;
    padding-left: 10px;
    padding-top: 24px;
    padding-right: 11px;
    padding-bottom: 24px;
    justify-content: center;
  }
}
.logo:hover{
  transform: scale(1.1);
}
.download_button{
  padding: 12px 6px;
  margin-left: 53px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  background-color: #5956E9;
  color:  #FFFFFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 600; 
  text-align: center;
}
.prew{
  display: block;
  padding-left: 34px;
  padding-top: 30px;
  margin-left: 16px;
  background-color: #FFFFFF;
  width: 323px;
  height: 318px;
  position: relative;
}
.text_great_app{

  color: #5956E9;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  line-height: 37.5px;
}  
.text1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #6C6C72;
  text-align: left;
  padding-top: 18px;
}
    
.text_download{
  color: #232233;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  padding-top: 30px;
  line-height: 30px;
}
.imge_teleph{
  width: 466px;
  height: 521px;
  margin-top: 586;
  margin-left: 55;
  margin-bottom: 120;
  
}
.download_icon1{
  padding-top: 18.44px;
}
.download_icon2{
  padding-top: 19.16px;
}
.rect6{
  width: 323px;
  height: 358px;
  border: 10px solid #7572FF;
  margin-left: 36px;
  margin-top: -338px;
}
.imge_teleph1{
   margin-left: 55px;
   margin-top: 40px;
}
.about_our_app{
  height: 935px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.about_appp{
  width: 209px;
  height: 38px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  color:#232233;
  margin-left: 67px;
  margin-bottom: 18px;
  margin-right: 67px;

}
.text2{
  width: 300px;
  height: 70px;
  color: #6C6C72;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.text3{
  width: 266px;
  height: 49px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #6C6C72;
  margin-left: 61px;
}


.text_design{
  list-style-type: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #232233;
  margin-top: 75px;
  background-color: #ffffff;
  padding: 18px 16px 10px 19px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
}
.text_creative_design{
  margin-left: 18px;
}
.text_easy_use{
  list-style-type: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #232233; 
  background-color: #ffffff;
  padding: 18px 16px 10px 19px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px; 
}
.text_easy_to_use{
  margin-left: 18px; 
}
.text_best_exp{
  list-style-type: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #232233;
  background-color: #ffffff;
  padding: 18px 16px 10px 19px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  margin-bottom: 92px;  
}
.text_best_user_exp{
  margin-left: 18px;
}
.app_features{
  background-image: url(./img/Rectangle\ 23.png);
  padding-top: 60px;
  padding-bottom: 60px;
}

.text_app_features{
  text-align: center;
  font-size: 25px;
  font-style: normal;
  line-height: 37.5px;
  color: #ffffff;
}
.text6{
  width: 300px;
  height: 70px;  
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;

}
.features{
  list-style-type: none;  
  margin-top: 32px;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 220px;
  grid-template-rows: repeat(3, 171px);
  grid-row-gap: 40px;
  padding-left: 76px;
  padding-right: 76px;
}
.free_chat{
  flex-direction: column;
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: center;
}
.comment{
  margin-bottom: 30px;
}
.text_free_chat{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 18px;
}
.unlimiter{
  flex-direction: column;
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: center;
}
.browser{
  margin-bottom: 30px;
}
.text_unlimiter{
  width: 223px;
  height: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 18px; 
}
.awesome_design{
  color: #FFF;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;  
}
.vector{
  margin-bottom: 30px; 
}
.text_awesome{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 18px;
}
.app{
  align-items: center; 
  justify-content: center;
  margin: 0px -76px;

}
.version{
  color: #FFF;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center; 
}
.cell_phone{
  margin-bottom: 30px;  
}
.i_a_vers{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 18px;
}
.retina_ready{
  color: #FFF;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center; 
}
.scanner{
  margin-bottom: 30px;
}
.retina{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 18px;
}
.support{
  color: #FFF;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center; 
}
.support_img{
  margin-bottom: 30px;
}
.text_support{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 18px; 
}
.text7{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.download_app{
  padding-top: 103px;
  padding-left: 16px;
  padding-right: 22px;
  background: #FFF;
}
.download_app_now{
  width: 288px;
  color:#232233;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;
}
.text13{
  width: 329px;
  height: 73px;
  margin-top: 18px;
  color:  #6C6C72;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.download_store{
  margin-top: 40px;
  display: flex;
  justify-content: start;
}
.down_in1{
  margin-right: 25px;
}
.about_in_num{
  margin-top: 60px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: space-between;
  margin-bottom: 60px;
}
.download{
  background-color: #5956E9;
  border-radius: 5px;
  width: 96px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.like{
  background-color: #5956E9;
  border-radius: 5px;
  width: 96px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.five_star_rating{
  background-color: #5956E9;
  border-radius: 5px;
  width: 96px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text14{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.text15{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;  
}
.gravity_telephones{
  position: relative;
}
.ellipse4{
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.10));
  margin-bottom: -351.85px;
  margin-left: 79px;  
}
.how_to_use{
  background-color: #5956E9;
  height: 357px;
  margin-top: 76.85px;
  padding-top: 60px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFF;
}
.how_to_use_text{
  width: 281px;
  height: 71px;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;
  margin-left: 31px;
}
.text16{
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 300px;
  height: 70px;
  margin-left: 22px;
  margin-top: 40px;
  color: #FFF;
}
.video_icon{
  position: relative;
  margin-left: 160px;
  margin-top: -35px;
}
.video_image{
  margin-top: -210px;
}
.customers{
  margin-top: -60px;
  background-image: url(./img/Rectangle\ 233.png);
  padding-top: 60px;
  padding-left: 16px;
}
.our_happy_cust{
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px; 
  text-align: center;

}
.review{
  margin-top: 32px;
  width: 343px;
  height: 250px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
  list-style-type: none;
  justify-content: center;
  padding-top: 20px;
  padding-left: 9px;
  padding-bottom: 20px;
  padding-right: 18px;
}
.prof_photo{
  margin-left: 129px;
}
.name{
  color: #232233;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;  
  margin-left: 81px;
  margin-top: 12px;
}
.place{
  width: 98px;
  margin-top: -2px;
  margin-left: 105px;
  color: #232233;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.text17{
  width: 316px;
  height: 70px; 
  color: #6C6C72;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;   
}
.slider{
  margin-top: 40px;
  margin-left: 111px;
  margin-bottom: 60px;
}
.recent_blog{
  width: 352px;
  margin-left: 16px;
}
.our_recent_blog{
  margin-top: 60px;
  margin-left: 64px;
  color: #232233;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;
}
.text18{
  width: 300px;
  height: 70px;
  color:  #6C6C72;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 38px;
}
.blog{
  list-style-type: none;
}
.post{
  margin-top: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  background-color: #FFFFFF;
  padding-bottom: 30px;
}
.image_post1{
  margin-left: -10px;
  margin-top: -10px;
  width: 373px;
}
.image_post2{
  margin-left: -10px;
  margin-top: -10px;
  width: 373px;
}
.image_post3{
  margin-left: -10px;
  margin-top: -10px;
  width: 373px;
}
.post_text{
  color: #232233;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; 
  margin-left: 18px;
  width: 312px;

}
.text19{
  margin-left: 18px;
  width: 318px;
  height: 72px;
  color: #6C6C72;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;  
}
.read_more{
  color: #5956E9;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-decoration-line: underline;
  margin-left: 18px;
  margin-top: 20px;
}

.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  width: 342.762px;
  height: 310px;
  border-radius: 10px;
  filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.24));
  margin-left: 16px;
  margin-top: 60px;
}
.email_image{
  margin-top: 30px;
  margin-bottom: 20px;
}
.email{
  color: #232233;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; 
  margin-bottom: 20px;  
}
.line2{
  width: 117px;
  height: 4px;
  border:solid #232233 ;
  margin-bottom: 30px;
}
.phone{
  color: #232233;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; 
  margin-bottom: 30px;
  margin-top: 20px; 
}
.footer{
  background-color: #232233;
  margin-bottom: 0px;
  flex: 1 1 auto;
  padding-left: 16px;
  padding-bottom: 30px;
  margin-top: -150px;
  padding-top: 200px;
}
.about{
  margin-top: 20px;
}
.text_about{
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 47.25px;
  color: #FFFFFF;

}
.text20{
  width: 334px;
  height: 72px;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1px;
  margin-bottom: 38px;
}
.line{
  background: #ffffff;
  width: 1px;
  height: 20px;
  margin: 0px 30px;
}
.social_icon{
  display: flex;
  justify-content: space-between;
  justify-content: start;
  margin-bottom: 60px;
}
.text_quick_link{
  font-size: 25px;
  font-style: normal;
  line-height: 37.5px;
  color: #FFFFFF;
}
.quick_link{
  list-style-type: none;
  font-size: 16px;
  font-style: normal;
  line-height: 35px;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.news_letter_text{
  font-size: 25px;
  font-style: normal;
  line-height: 37.5px;
  color: #ffffff;
}
.sub{
  width: 298px;
  height: 48px;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}
.em_adress{
  margin-right: 16px;
}
.your_em_text{
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
  padding-right: 90px;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color:#6C6C72;
  margin-top: 46px;
  margin-right: 16px;
  margin-bottom: -200px;
}
.send_button{
  padding: 11px 13.01px;
  background-color: #5956E9;
  border-radius: 4px;
  margin-left: 298.8px;
  margin-top: -200px;
}
.line1{
  display: flex;
  background: #ffffff;
  width: 343px;
  height: 1px;
  margin-bottom: 23px;
  justify-content: center;
}
.copy{
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-items: center;
}
.c_icon{
  margin-right: 18px;
}
