@use "../utils/mixins";

// .header {


//     // padding-top: 47px;
//     // padding-bottom: 20px;
//     // padding-left: 16px;
// }

.header__wrapper {
    margin-top: 30px;
    margin-left: 16px;
    width: 100%;
    max-width: 343px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0.3rem;
    position: fixed;
    z-index: 100;
}

.header__menu{
    background: none;
    border: none;
    color: #232233;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header__download {
    color: var(--White, #FFF);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    padding: 12px 6px;
    display: block;
    border-radius: 3px;
    background: var(--Royal-blue, #5956E9);
}

.header__logo {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


@media(min-width: 768px) {
    .header__wrapper{
        max-width: 688px;
        width: 100%;
        margin-top: 69px; 
        margin-left: 40px;
    }
       
}


@media(min-width: 1440px) {
    .header__wrapper {
        @include mixins.wrapper-dt;
        padding: 0;
        height: 60px;
    }

    .header__logo {
        img {
        width: 167px;
        }
    }
}