@use "../utils/mixins";

.navigation_p1 {
    display: none;
    position: relative;
}
.navigation_p2 {
    display: none;
    position: relative;
}

@media(min-width: 1440px) {
    .navigation_p1 {
        display: flex; 
        align-items: center;
        width: 50%;
    }
    .header__menu{
        display: none;
    }
    .navigation_p1__item:nth-child(2) {
        margin: 0 40px 0;
    }

    .navigation_p1__item:nth-child(1) {
        margin-left: 52px;
    }

    .navigation_p1__item {
        color: #232233;
        font-family: Josefin Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        transition: all .3s linear;
    }

    .navigation_p1__item:hover {
        color: #5956E9;
        text-decoration: underline;
    }
    .navigation_p1__item:active {
        color: #585858;
    }
    .navigation_p2 {
        display: flex; 
        align-items: center;
        width: 50%;
    }

    .navigation_p2__item:nth-child(2) {
        margin: 0 40px 0;
    }

    .navigation_p2__item:nth-child(1) {
        margin-left: 52px;
    }

    .navigation_p2__item {
        color: #232233;
        font-family: Josefin Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        transition: all .3s linear;
    }

    .navigation_p2__item:hover {
        color: #5956E9;
        text-decoration: underline;
    }
    .navigation_p2__item:active {
        color: #585858;
    }
}