

.headcontact {
  display: none;
}

@media(min-width: 768px) {
  .headcontact {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -2.7rem;
    color: #ffffff;
    width: 100%;
  }
  .headcontact {
    margin-top: -1rem;
  }
  .headcontact__link {
    display: flex;
    gap: 1.8rem;
    align-items: center;
    margin-right: 3.6rem;
  }
  .headcontact .social__list {
    margin-top: 0;
    margin-left: auto;
  }
  .social__item:last-child {
    padding-right: 0;
  }
  .social__item_border-none {
    border: none;
  }
}

@media(min-width: 1440px) {
  .headcontact {
    display: flex;
    flex: 0 0 57rem;
    flex-direction: row;
    list-style-type: none;
  }
}